<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style media="screen">
      .header li {
        display: inline;
      }
      .container {
        display: flex;
        flex-flow: row wrap;
      }
      .sidenav {
        width: 250px;
        float: left;
      }
      .post {
        width: 800px;
      }
    </style>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="header">
      <h1>{{ site.title }}</h1>
      <ul>
        <li>Name</li>
        <li>Last Modified</li>
        <li>Size</li>
        <li>Contents</li>
      </ul>
    </div>
    <hr>
    <div class="container">
      <div class="sidenav">
        <ul>
          <li>item1</li>
          <li>item2</li>
        </ul>
      </div>
      <div class="post">
        <h1>post area.</h1>
        {{ content }}
      </div>
    </div>
    <hr>
    <div class="footer">
      footer area.
    </div>
  </body>
</html>
